@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  /* colors */
  --color-primary: #0D6E8A;
  --color-primary-dark: #094F65;
  --color-secondary: #E8F4F8;
  --color-background: #F7FAFC;
  --color-card: #FFFFFF;
  --color-text-primary: #1A2B35;
  --color-text-secondary: #5A7080;
  --color-border: #D5E3EC;
  --color-error: #DC2626;
  --color-success: #16A34A;
  --color-warning: #D97706;

  /* font size */
  --text-xl: 2.5rem;
  --text-lg: 1.5rem;
  --text-md: 1.125rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-text-primary: var( --color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-card: var(--color-card);

  --text-lg: var(--text-lg);
  --text-sm: var(--text-sm);
  --text-md: var(--text-md);
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

.active hr {
  @apply block
}